In [3]:
import requests
from bs4 import BeautifulSoup

# headers="{'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36'}"
codes_object=requests.get("https://www.worldometers.info/coronavirus/#countries")#, headers=headers)
c=codes_object.content
c

soup=BeautifulSoup(c,"html.parser")

# datum=soup.find_all("table",{"class":"table"})
# datum0=datum[0].find_all("tr")
# datum0

datum=soup.find_all("tr")
#len(datum)

410

In [5]:
#datum

[<tr>
 <th width="100">Country,<br>Other</br></th>
 <th width="20">Total<br>Cases</br></th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">TotÂ Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Reported<br/>1<sup>st</sup> case</th>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">176,518</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+12,730</td>
 <td style="font-weight: bold; text-align:right;">3,431 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+290</td>
 <td style="font-weight: bold; text-align:right">6,241</td>
 <td style="text-align:right;font-weight:bold;">166,846</td>
 <td style="font-weight: bold; text-align:right">3,893</td>
 <td style="font-weight: bold; text-align:right">533</td>
 <td style="font-weight: bold; text-align:right">10</td>
 <td style="text-align:right;font-size:13px;">
 Jan 20 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">105,792</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+4,053</td>
 <td style="font-weight: bold; text-align:right;">12,428 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+837</td>
 <td style="font-weight: bold; text-align:right">15,729</td>
 <td style="text-align:right;font-weight:bold;">77,635</td>
 <td style="font-weight: bold; text-align:right">4,023</td>
 <td style="font-weight: bold; text-align:right">1,750</td>
 <td style="font-weight: bold; text-align:right">206</td>
 <td style="text-align:right;font-size:13px;">
 Jan 29 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">94,417</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+6,461</td>
 <td style="font-weight: bold; text-align:right;">8,269 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+553</td>
 <td style="font-weight: bold; text-align:right">19,259</td>
 <td style="text-align:right;font-weight:bold;">66,889</td>
 <td style="font-weight: bold; text-align:right">5,607</td>
 <td style="font-weight: bold; text-align:right">2,019</td>
 <td style="font-weight: bold; text-align:right">177</td>
 <td style="text-align:right;font-size:13px;">
 Jan 30 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">68,180</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,295</td>
 <td style="font-weight: bold; text-align:right;">682 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+37</td>
 <td style="font-weight: bold; text-align:right">15,824</td>
 <td style="text-align:right;font-weight:bold;">51,674</td>
 <td style="font-weight: bold; text-align:right">1,979</td>
 <td style="font-weight: bold; text-align:right">814</td>
 <td style="font-weight: bold; text-align:right">8</td>
 <td style="text-align:right;font-size:13px;">
 Jan 26 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">52,128</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+7,578</td>
 <td style="font-weight: bold; text-align:right;">3,523 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+499</td>
 <td style="font-weight: bold; text-align:right">7,927</td>
 <td style="text-align:right;font-weight:bold;">40,678</td>
 <td style="font-weight: bold; text-align:right">5,056</td>
 <td style="font-weight: bold; text-align:right">799</td>
 <td style="font-weight: bold; text-align:right">54</td>
 <td style="text-align:right;font-size:13px;">
 Jan 23 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
 <td style="font-weight: bold; text-align:right">44,605</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+3,110</td>
 <td style="font-weight: bold; text-align:right;">2,898 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+141</td>
 <td style="font-weight: bold; text-align:right">14,656</td>
 <td style="text-align:right;font-weight:bold;">27,051</td>
 <td style="font-weight: bold; text-align:right">3,703</td>
 <td style="font-weight: bold; text-align:right">531</td>
 <td style="font-weight: bold; text-align:right">35</td>
 <td style="text-align:right;font-size:13px;">
 Feb 18 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">25,150</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+3,009</td>
 <td style="font-weight: bold; text-align:right;">1,789 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+381</td>
 <td style="font-weight: bold; text-align:right">135</td>
 <td style="text-align:right;font-weight:bold;">23,226</td>
 <td style="font-weight: bold; text-align:right">163</td>
 <td style="font-weight: bold; text-align:right">370</td>
 <td style="font-weight: bold; text-align:right">26</td>
 <td style="text-align:right;font-size:13px;">
 Jan 30 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/switzerland/">Switzerland</a></td>
 <td style="font-weight: bold; text-align:right">16,186</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+264</td>
 <td style="font-weight: bold; text-align:right;">395 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+36</td>
 <td style="font-weight: bold; text-align:right">1,823</td>
 <td style="text-align:right;font-weight:bold;">13,968</td>
 <td style="font-weight: bold; text-align:right">301</td>
 <td style="font-weight: bold; text-align:right">1,870</td>
 <td style="font-weight: bold; text-align:right">46</td>
 <td style="text-align:right;font-size:13px;">
 Feb 24 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">13,531</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2,704</td>
 <td style="font-weight: bold; text-align:right;">214 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+46</td>
 <td style="font-weight: bold; text-align:right">243</td>
 <td style="text-align:right;font-weight:bold;">13,074</td>
 <td style="font-weight: bold; text-align:right">622</td>
 <td style="font-weight: bold; text-align:right">160</td>
 <td style="font-weight: bold; text-align:right">3</td>
 <td style="text-align:right;font-size:13px;">
 Mar 09 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belgium/">Belgium</a></td>
 <td style="font-weight: bold; text-align:right">12,775</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+876</td>
 <td style="font-weight: bold; text-align:right;">705 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+192</td>
 <td style="font-weight: bold; text-align:right">1,696</td>
 <td style="text-align:right;font-weight:bold;">10,374</td>
 <td style="font-weight: bold; text-align:right">1,021</td>
 <td style="font-weight: bold; text-align:right">1,102</td>
 <td style="font-weight: bold; text-align:right">61</td>
 <td style="text-align:right;font-size:13px;">
 Feb 03 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>
 <td style="font-weight: bold; text-align:right">12,595</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+845</td>
 <td style="font-weight: bold; text-align:right;">1,039 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+175</td>
 <td style="font-weight: bold; text-align:right">250</td>
 <td style="text-align:right;font-weight:bold;">11,306</td>
 <td style="font-weight: bold; text-align:right">1,053</td>
 <td style="font-weight: bold; text-align:right">735</td>
 <td style="font-weight: bold; text-align:right">61</td>
 <td style="text-align:right;font-size:13px;">
 Feb 26 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/austria/">Austria</a></td>
 <td style="font-weight: bold; text-align:right">10,109</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+491</td>
 <td style="font-weight: bold; text-align:right;">128 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+20</td>
 <td style="font-weight: bold; text-align:right">1,095</td>
 <td style="text-align:right;font-weight:bold;">8,886</td>
 <td style="font-weight: bold; text-align:right">198</td>
 <td style="font-weight: bold; text-align:right">1,122</td>
 <td style="font-weight: bold; text-align:right">14</td>
 <td style="text-align:right;font-size:13px;">
 Feb 24 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
 <td style="font-weight: bold; text-align:right">9,786</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+125</td>
 <td style="font-weight: bold; text-align:right;">162 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+4</td>
 <td style="font-weight: bold; text-align:right">5,408</td>
 <td style="text-align:right;font-weight:bold;">4,216</td>
 <td style="font-weight: bold; text-align:right">55</td>
 <td style="font-weight: bold; text-align:right">191</td>
 <td style="font-weight: bold; text-align:right">3</td>
 <td style="text-align:right;font-size:13px;">
 Jan 19 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/canada/">Canada</a></td>
 <td style="font-weight: bold; text-align:right">8,467</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,019</td>
 <td style="font-weight: bold; text-align:right;">95 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+6</td>
 <td style="font-weight: bold; text-align:right">1,162</td>
 <td style="text-align:right;font-weight:bold;">7,210</td>
 <td style="font-weight: bold; text-align:right">120</td>
 <td style="font-weight: bold; text-align:right">224</td>
 <td style="font-weight: bold; text-align:right">3</td>
 <td style="text-align:right;font-size:13px;">
 Jan 24 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/portugal/">Portugal</a></td>
 <td style="font-weight: bold; text-align:right">7,443</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,035</td>
 <td style="font-weight: bold; text-align:right;">160 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+20</td>
 <td style="font-weight: bold; text-align:right">43</td>
 <td style="text-align:right;font-weight:bold;">7,240</td>
 <td style="font-weight: bold; text-align:right">188</td>
 <td style="font-weight: bold; text-align:right">730</td>
 <td style="font-weight: bold; text-align:right">16</td>
 <td style="text-align:right;font-size:13px;">
 Mar 01 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/israel/">Israel</a></td>
 <td style="font-weight: bold; text-align:right">4,831</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+136</td>
 <td style="font-weight: bold; text-align:right;">20 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+4</td>
 <td style="font-weight: bold; text-align:right">163</td>
 <td style="text-align:right;font-weight:bold;">4,648</td>
 <td style="font-weight: bold; text-align:right">83</td>
 <td style="font-weight: bold; text-align:right">558</td>
 <td style="font-weight: bold; text-align:right">2</td>
 <td style="text-align:right;font-size:13px;">
 Feb 20 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">4,715</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+85</td>
 <td style="font-weight: bold; text-align:right;">168 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+5</td>
 <td style="font-weight: bold; text-align:right">127</td>
 <td style="text-align:right;font-weight:bold;">4,420</td>
 <td style="font-weight: bold; text-align:right">296</td>
 <td style="font-weight: bold; text-align:right">22</td>
 <td style="font-weight: bold; text-align:right">0.8</td>
 <td style="text-align:right;font-size:13px;">
 Feb 24 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/norway/">Norway</a></td>
 <td style="font-weight: bold; text-align:right">4,605</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+160</td>
 <td style="font-weight: bold; text-align:right;">39 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+7</td>
 <td style="font-weight: bold; text-align:right">13</td>
 <td style="text-align:right;font-weight:bold;">4,553</td>
 <td style="font-weight: bold; text-align:right">97</td>
 <td style="font-weight: bold; text-align:right">849</td>
 <td style="font-weight: bold; text-align:right">7</td>
 <td style="text-align:right;font-size:13px;">
 Feb 25 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/australia/">Australia</a></td>
 <td style="font-weight: bold; text-align:right">4,561</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+101</td>
 <td style="font-weight: bold; text-align:right;">19 </td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">337</td>
 <td style="text-align:right;font-weight:bold;">4,205</td>
 <td style="font-weight: bold; text-align:right">28</td>
 <td style="font-weight: bold; text-align:right">179</td>
 <td style="font-weight: bold; text-align:right">0.7</td>
 <td style="text-align:right;font-size:13px;">
 Jan 24 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/sweden/">Sweden</a></td>
 <td style="font-weight: bold; text-align:right">4,435</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+407</td>
 <td style="font-weight: bold; text-align:right;">180 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+34</td>
 <td style="font-weight: bold; text-align:right">16</td>
 <td style="text-align:right;font-weight:bold;">4,239</td>
 <td style="font-weight: bold; text-align:right">358</td>
 <td style="font-weight: bold; text-align:right">439</td>
 <td style="font-weight: bold; text-align:right">18</td>
 <td style="text-align:right;font-size:13px;">
 Jan 30 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;">Czechia</td>
 <td style="font-weight: bold; text-align:right">3,257</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+256</td>
 <td style="font-weight: bold; text-align:right;">31 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+8</td>
 <td style="font-weight: bold; text-align:right">45</td>
 <td style="text-align:right;font-weight:bold;">3,181</td>
 <td style="font-weight: bold; text-align:right">64</td>
 <td style="font-weight: bold; text-align:right">304</td>
 <td style="font-weight: bold; text-align:right">3</td>
 <td style="text-align:right;font-size:13px;">
 Feb 29 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ireland/">Ireland</a></td>
 <td style="font-weight: bold; text-align:right">2,910</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">54 </td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">5</td>
 <td style="text-align:right;font-weight:bold;">2,851</td>
 <td style="font-weight: bold; text-align:right">103</td>
 <td style="font-weight: bold; text-align:right">589</td>
 <td style="font-weight: bold; text-align:right">11</td>
 <td style="text-align:right;font-size:13px;">
 Feb 28 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/denmark/">Denmark</a></td>
 <td style="font-weight: bold; text-align:right">2,860</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+283</td>
 <td style="font-weight: bold; text-align:right;">90 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+13</td>
 <td style="font-weight: bold; text-align:right">1</td>
 <td style="text-align:right;font-weight:bold;">2,769</td>
 <td style="font-weight: bold; text-align:right">145</td>
 <td style="font-weight: bold; text-align:right">494</td>
 <td style="font-weight: bold; text-align:right">16</td>
 <td style="text-align:right;font-size:13px;">
 Feb 26 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/malaysia/">Malaysia</a></td>
 <td style="font-weight: bold; text-align:right">2,766</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+140</td>
 <td style="font-weight: bold; text-align:right;">43 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+6</td>
 <td style="font-weight: bold; text-align:right">537</td>
 <td style="text-align:right;font-weight:bold;">2,186</td>
 <td style="font-weight: bold; text-align:right">94</td>
 <td style="font-weight: bold; text-align:right">85</td>
 <td style="font-weight: bold; text-align:right">1</td>
 <td style="text-align:right;font-size:13px;">
 Jan 24 </td>
 </tr>, <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;">Chile</td>
 <td style="font-weight: bold; text-align:right">2,738</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+289</td>
 <td style="font-weight: bold; text-align:right;">12 </td>
 <td style="font-weight: bold; text-align:right;background-color:red; color:white">+4</td>
 <td style="font-weight: bold; text-align:right">156</td>
 <td style="text-align:right;font-weight:bold;">2,570</td>
 <td style="font-weight: bold; text-align:right">14</td>

In [15]:
d=datum[0].find_all("th")
#d
for item in d:
    print(item.text)
for item in datum:
    d=item.find_all("td")
    for j in d:
        if j.text!="":
            print(j.text.strip("\n"))
        else:
            print(None)
    print("______________________________")

Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
ActiveCases
Serious,Critical
TotÂ Cases/1M pop
Deaths/1M pop
Reported1st case
______________________________
USA
176,518
+12,730
3,431
+290
6,241
166,846
3,893
533
10
Jan 20
______________________________
Italy
105,792
+4,053
12,428
+837
15,729
77,635
4,023
1,750
206
Jan 29
______________________________
Spain
94,417
+6,461
8,269
+553
19,259
66,889
5,607
2,019
177
Jan 30
______________________________
Germany
68,180
+1,295
682
+37
15,824
51,674
1,979
814
8
Jan 26
______________________________
France
52,128
+7,578
3,523
+499
7,927
40,678
5,056
799
54
Jan 23
______________________________
Iran
44,605
+3,110
2,898
+141
14,656
27,051
3,703
531
35
Feb 18
______________________________
UK
25,150
+3,009
1,789
+381
135
23,226
163
370
26
Jan 30
______________________________
Switzerland
16,186
+264
395
+36
1,823
13,968
301
1,870
46
Feb 24
______________________________
Turkey
13,531
+2,704
214
+46
243
13,074
622
160
3
Mar 09
______________________________
Belgium
12,775
+876
705
+192
1,696
10,374
1,021
1,102
61
Feb 03
______________________________
Netherlands
12,595
+845
1,039
+175
250
11,306
1,053
735
61
Feb 26
______________________________
Austria
10,109
+491
128
+20
1,095
8,886
198
1,122
14
Feb 24
______________________________
S. Korea
9,786
+125
162
+4
5,408
4,216
55
191
3
Jan 19
______________________________
Canada
8,467
+1,019
95
+6
1,162
7,210
120
224
3
Jan 24
______________________________
Portugal
7,443
+1,035
160
+20
43
7,240
188
730
16
Mar 01
______________________________
Israel
4,831
+136
20
+4
163
4,648
83
558
2
Feb 20
______________________________
Brazil
4,715
+85
168
+5
127
4,420
296
22
0.8
Feb 24
______________________________
Norway
4,605
+160
39
+7
13
4,553
97
849
7
Feb 25
______________________________
Australia
4,561
+101
19
None
337
4,205
28
179
0.7
Jan 24
______________________________
Sweden
4,435
+407
180
+34
16
4,239
358
439
18
Jan 30
______________________________
Czechia
3,257
+256
31
+8
45
3,181
64
304
3
Feb 29
______________________________
Ireland
2,910
None
54
None
5
2,851
103
589
11
Feb 28
______________________________
Denmark
2,860
+283
90
+13
1
2,769
145
494
16
Feb 26
______________________________
Malaysia
2,766
+140
43
+6
537
2,186
94
85
1
Jan 24
______________________________
Chile
2,738
+289
12
+4
156
2,570
14
143
0.6
Mar 02
______________________________
Russia
2,337
+501
17
+8
121
2,199
8
16
0.1
Jan 30
______________________________
Romania
2,245
+136
80
+15
220
1,945
62
117
4
Feb 25
______________________________
Ecuador
2,240
+274
75
+13
54
2,111
100
127
4
Feb 28
______________________________
Poland
2,215
+160
32
+1
7
2,176
50
59
0.8
Mar 03
______________________________
Luxembourg
2,178
+190
23
+1
80
2,075
31
3,479
37
Feb 28
______________________________
Philippines
2,084
+538
88
+10
49
1,947
1
19
0.8
Jan 29
______________________________
Japan
1,953
None
56
None
424
1,473
56
15
0.4
Jan 14
______________________________
Pakistan
1,914
+197
26
+5
76
1,812
12
9
0.1
Feb 25
______________________________
Thailand
1,651
+127
10
+1
342
1,299
23
24
0.1
Jan 12
______________________________
Saudi Arabia
1,563
+110
10
+2
165
1,388
31
45
0.3
Mar 01
______________________________
Indonesia
1,528
+114
136
+14
81
1,311
None
6
0.5
Mar 01
______________________________
Finland
1,418
+66
17
+4
10
1,391
56
256
3
Jan 28
______________________________
South Africa
1,353
+27
3
None
31
1,319
7
23
0.05
Mar 04
______________________________
Greece
1,314
+102
49
+3
52
1,213
72
126
5
Feb 25
______________________________
India
1,251
None
32
None
102
1,117
None
0.9
0.02
Jan 29
______________________________
Iceland
1,135
+49
2
None
198
935
11
3,326
6
Feb 27
______________________________
Dominican Republic
1,109
+208
51
+9
5
1,053
None
102
5
Feb 29
______________________________
Mexico
1,094
+101
28
+8
35
1,031
1
8
0.2
Feb 27
______________________________
Panama
1,075
None
27
None
9
1,039
43
249
6
Mar 09
______________________________
Peru
1,065
+115
24
None
53
988
49
32
0.7
Mar 05
______________________________
Argentina
966
+146
26
+3
240
700
None
21
0.6
Mar 02
______________________________
Singapore
926
+47
3
None
240
683
22
158
0.5
Jan 22
______________________________
Serbia
900
+115
23
+7
42
835
62
103
3
Mar 05
______________________________
Croatia
867
+77
6
None
67
794
32
211
1
Feb 24
______________________________
Slovenia
802
+46
15
+4
10
777
24
386
7
Mar 03
______________________________
Colombia
798
None
14
None
15
769
29
16
0.3
Mar 05
______________________________
Estonia
745
+30
4
+1
26
715
13
562
3
Feb 26
______________________________
Algeria
716
+132
44
+9
46
626
None
16
1
Feb 24
______________________________
Hong Kong
714
+31
4
None
128
582
5
95
0.5
 Jan 22
______________________________
Diamond Princess
712
None
10
None
603
99
15
None
None
Feb 04
______________________________
Qatar
693
None
1
None
51
641
6
241
0.3
Feb 28
______________________________
UAE
664
+53
6
+1
61
597
2
67
0.6
 Jan 28
______________________________
Egypt
656
None
41
None
150
465
None
6
0.4
Feb 13
______________________________
New Zealand
647
+58
1
None
74
572
2
134
0.2
Feb 27
______________________________
Iraq
630
None
46
None
152
432
None
16
1
Feb 21
______________________________
Morocco
602
+46
36
+3
24
542
1
16
1.0
Mar 01
______________________________
Bahrain
567
+52
4
None
295
268
2
333
2
Feb 23
______________________________
Ukraine
549
+1
13
None
8
528
None
13
0.3
Mar 02
______________________________
Lithuania
537
+46
8
+1
7
522
27
197
3
Feb 27
______________________________
Armenia
532
+50
3
None
30
499
30
180
1
Feb 29
______________________________
Hungary
492
+45
16
+1
37
439
6
51
2
Mar 03
______________________________
Lebanon
463
+17
12
+1
37
414
7
68
2
Feb 20
______________________________
Bosnia and Herzegovina
411
+43
12
+2
17
382
1
125
4
Mar 04
______________________________
Bulgaria
399
+40
8
None
17
374
14
57
1
Mar 06
______________________________
Latvia
398
+22

None
1
397
3
211
None
Mar 01
______________________________
Andorra
370
None
8
None
10
352
10
4,789
104
Mar 01
______________________________
Slovakia
363
+27

None
3
360
1
66
None
Mar 05
______________________________
Tunisia
362
None
10
+1
3
349
10
31
0.8
Mar 01
______________________________
Moldova
353
+55
4
+2
18
331
44
88
1.0
Mar 06
______________________________
Kazakhstan
340
+38
2
+1
22
316
6
18
0.1
Mar 12
______________________________
Costa Rica
330
None
2
None
4
324
7
65
0.4
Mar 04
______________________________
North Macedonia
329
+44
9
+2
12
308
4
158
4
Feb 25
______________________________
Taiwan
322
+16
5
None
39
278
None
14
0.2
Jan 20
______________________________
Uruguay
320
None
1
None
25
294
9
92
0.3
Mar 12
______________________________
Azerbaijan
298
+25
5
+1
26
267
11
29
0.5
Feb 27
______________________________
Kuwait
289
+23

None
73
216
13
68
None
Feb 23
______________________________
Jordan
274
+6
5
None
30
239
5
27
0.5
Mar 01
______________________________
Cyprus
262
+32
8
+1
23
231
3
217
7
Mar 08
______________________________
Burkina Faso
261
+15
14
+2
32
215
None
12
0.7
Mar 08
______________________________
RÃ©union
247
+23

None
1
246
4
276
None
Mar 10
______________________________
Albania
243
+20
15
+4
52
176
8
84
5
Mar 07
______________________________
San Marino
230
None
25
None
13
192
16
6,778
737
Feb 26
______________________________
Vietnam
207
+3

None
58
149
3
2
None
Jan 22
______________________________
Cameroon
193
+54
6
None
5
182
None
7
0.2
Mar 05
______________________________
Oman
192
+13

None
34
158
3
38
None
Feb 23
______________________________
Cuba
186
+16
6
+2
8
172
3
16
0.5
Mar 10
______________________________
Senegal
175
+13

None
40
135
None
10
None
Mar 01
______________________________
Afghanistan
174
+4
4
None
5
165
None
4
0.1
Feb 23
______________________________
Faeroe Islands
169
+1

None
74
95
3
3,459
None
Mar 03
______________________________
Malta
169
+13

None
2
167
2
383
None
Mar 06
______________________________
Ivory Coast
168
None
1
None
6
161
None
6
0.04
Mar 10
______________________________
Uzbekistan
167
+18
2
None
7
158
8
5
0.06
Mar 14
______________________________
Ghana
161
+9
5
None
31
125
1
5
0.2
Mar 11
______________________________
Belarus
152
None
1
+1
47
104
2
16
0.1
Feb 27
______________________________
Mauritius
143
+15
4
+1
None
139
1
112
3
Mar 17
______________________________
Sri Lanka
142
+20
2
None
17
123
5
7
0.09

Jan 26
______________________________
Honduras
141
+2
7
None
3
131
4
14
0.7
Mar 10
______________________________
Channel Islands
141
None
3
+1
None
138
None
811
17
Mar 08
______________________________
Venezuela
135
None
3
None
39
93
6
5
0.1
Mar 12
______________________________
Nigeria
135
+4
2
None
8
125
None
0.7
0.01
Feb 27
______________________________
Brunei
129
+2
1
None
45
83
3
295
2
Mar 08
______________________________
Martinique
119
+26
2
+1
27
90
15
317
5
Mar 04
______________________________
Palestine
117
None
1
None
18
98
None
23
0.2
Mar 04
______________________________
Georgia
110
+7

None
21
89
6
28
None
Feb 25
______________________________
Montenegro
109
+18
2
+1
None
107
1
174
3
Mar 16
______________________________
Cambodia
109
+2

None
23
86
1
7
None
Jan 26
______________________________
Bolivia
107
+10
6
+2
None
101
3
9
0.5
Mar 09
______________________________
Kyrgyzstan
107
+13

None
3
104
None
16
None
Mar 17
______________________________
Guadeloupe
106
None
4
None
17
85
10
265
10
Mar 12
______________________________
DRC
98
+17
8
None
2
88
None
1
0.09
Mar 09
______________________________
Mayotte
94
+12
1
+1
10
83
3
345
4
Mar 13
______________________________
Trinidad and Tobago
85
+2
3
None
1
81
None
61
2
Mar 11
______________________________
Rwanda
70
None

None
None
70
None
5
None
Mar 13
______________________________
Gibraltar
69
None

None
34
35
None
2,048
None
Mar 02
______________________________
Liechtenstein
68
+6

None
None
68
None
1,783
None
Mar 02
______________________________
Paraguay
65
+1
3
None
1
61
3
9
0.4
Mar 06
______________________________
Isle of Man
60
+11

None
None
60
None
706
None
Mar 18
______________________________
Kenya
59
+9
1
None
1
57
2
1
0.02
Mar 12
______________________________
Aruba
55
+5

None
1
54
None
515
None
Mar 12
______________________________
Monaco
52
+3
1
None
2
49
None
1,325
25
Feb 27
______________________________
Bangladesh
51
+2
5
None
25
21
1
0.3
0.03
Mar 07
______________________________
Madagascar
46
+3

None
None
46
6
2
None
Mar 19
______________________________
French Guiana
43
None

None
6
37
None
144
None
Mar 06
______________________________
Macao
41
+3

None
10
31
None
63
None
Jan 21
______________________________
Guatemala
36
None
1
None
10
25
1
2
0.06
Mar 12
______________________________
Jamaica
36
None
1
None
2
33
None
12
0.3
Mar 09
______________________________
French Polynesia
36
None

None
None
36
2
128
None
Mar 10
______________________________
Zambia
35
None

None
None
35
None
2
None
Mar 17
______________________________
Togo
34
+4
1
None
10
23
None
4
0.1
Mar 05
______________________________
Barbados
34
+1

None
None
34
None
118
None
Mar 16
______________________________
Uganda
33
None

None
None
33
None
0.7
None
Mar 20
______________________________
El Salvador
32
+2

None
None
32
5
5
None
Mar 18
______________________________
Djibouti
30
+12

None
None
30
None
30
None
Mar 17
______________________________
Mali
28
+3
2
None
None
26
None
1
0.10
Mar 24
______________________________
Niger
27
None
3
None
None
24
None
1
0.1
Mar 18
______________________________
Bermuda
27
None

None
10
17
None
434
None
Mar 17
______________________________
Ethiopia
26
+3

None
2
24
2
0.2
None
Mar 12
______________________________
Guinea
22
None

None
None
22
None
2
None
Mar 12
______________________________
Tanzania
19
None
1
+1
1
17
None
0.3
0.02
Mar 15
______________________________
Congo
19
None

None
None
19
None
3
None
Mar 14
______________________________
Maldives
18
+1

None
13
5
None
33
None
Mar 06
______________________________
Gabon
16
+9
1
None
None
15
None
7
0.4
Mar 12
______________________________
New Caledonia
16
+1

None
None
16
None
56
None
Mar 17
______________________________
Myanmar
15
+1
1
+1
None
14
None
0.3
0.02
Mar 22
______________________________
Saint Martin
15
None
1
None
2
12
None
388
26
Feb 29
______________________________
Eritrea
15
None

None
None
15
None
4
None
Mar 20
______________________________
Haiti
15
None

None
1
14
None
1
None
Mar 19
______________________________
Bahamas
14
None

None
1
13
None
36
None
Mar 14
______________________________
Guyana
12
+4
2
+1
None
10
None
15
3
Mar 11
______________________________
Cayman Islands
12
None
1
None
None
11
None
183
15
Mar 12
______________________________
Dominica
12
None

None
None
12
None
167
None
Mar 21
______________________________
Equatorial Guinea
12
None

None
1
11
None
9
None
Mar 13
______________________________
Mongolia
12
None

None
2
10
None
4
None
Mar 09
______________________________
CuraÃ§ao
11
None
1
None
2
8
None
67
6
Mar 12
______________________________
Namibia
11
None

None
2
9
None
4
None
Mar 13
______________________________
Syria
10
None
2
None
None
8
None
0.6
0.1
Mar 21
______________________________
Greenland
10
None

None
2
8
None
176
None
Mar 15
______________________________
Seychelles
10
+2

None
None
10
None
102
None
Mar 13
______________________________
Benin
9
+3

None
1
8
None
0.7
None
Mar 15
______________________________
Grenada
9
None

None
None
9
None
80
None
Mar 21
______________________________
Laos
9
+1

None
None
9
None
1
None
Mar 23
______________________________
Saint Lucia
9
None

None
1
8
None
49
None
Mar 12
______________________________
Eswatini
9
None

None
None
9
None
8
None
Mar 13
______________________________
Zimbabwe
8
+1
1
None
None
7
None
0.5
0.07
Mar 19
______________________________
Guinea-Bissau
8
None

None
None
8
None
4
None
Mar 24
______________________________
Libya
8
None

None
None
8
None
1
None
Mar 23
______________________________
Mozambique
8
None

None
None
8
None
0.3
None
Mar 21
______________________________
Saint Kitts and Nevis
8
+1

None
None
8
None
150
None
Mar 24
______________________________
Suriname
8
None

None
None
8
None
14
None
Mar 12
______________________________
Angola
7
None
2
None
1
4
None
0.2
0.06
Mar 19
______________________________
Sudan
7
+1
2
None
1
4
None
0.2
0.05
 Mar 12
______________________________
Antigua and Barbuda
7
None

None
None
7
None
71
None
Mar 12
______________________________
Chad
7
+2

None
None
7
None
0.4
None
Mar 18
______________________________
Cabo Verde
6
None
1
None
None
5
None
11
2
Mar 19
______________________________
Mauritania
6
None
1
None
2
3
None
1
0.2
Mar 12
______________________________
Vatican City
6
None

None
None
6
None
7,491
None
Mar 05
______________________________
St. Barth
6
None

None
1
5
None
607
None
Feb 29
______________________________
Sint Maarten
6
None

None
None
6
None
140
None
Mar 17
______________________________
Nepal
5
None

None
1
4
None
0.2
None
Jan 23
______________________________
Fiji
5
None

None
None
5
None
6
None
Mar 18
______________________________
Montserrat
5
None

None
None
5
None
1,002
None
Mar 17
______________________________
Somalia
5
+2

None
1
4
None
0.3
None
Mar 15
______________________________
Turks and Caicos
5
None

None
None
5
None
129
None
Mar 22
______________________________
Gambia
4
None
1
None
None
3
None
2
0.4
Mar 16
______________________________
Nicaragua
4
None
1
None
None
3
None
0.6
0.2
Mar 18
______________________________
Bhutan
4
None

None
None
4
None
5
None
Mar 05
______________________________
Belize
3
None

None
None
3
None
8
None
Mar 22
______________________________
Botswana
3
None

None
None
3
None
1
None
Mar 29
______________________________
British Virgin Islands
3
+1

None
None
3
None
99
None
Mar 24
______________________________
CAR
3
None

None
None
3
None
0.6
None
Mar 14
______________________________
Liberia
3
None

None
None
3
None
0.6
None
Mar 15
______________________________
MS Zaandam
2
None

None
None
2
None
None
None
Mar 26
______________________________
Anguilla
2
None

None
None
2
None
133
None
Mar 25
______________________________
Burundi
2
+2

None
None
2
None
0.2
None
Mar 30
______________________________
Papua New Guinea
1
None

None
None
1
None
0.1
None
Mar 19
______________________________
St. Vincent Grenadines
1
None

None
1
0
None
9
None
Mar 10
______________________________
Sierra Leone
1
+1

None
None
1
None
0.1
None
Mar 30
______________________________
Timor-Leste
1
None

None
None
1
None
0.8
None
Mar 20
______________________________
China
81,518
+79
3,305
+5
76,052
2,161
528
57
2
Jan 10
______________________________
Total:
837,021
+52,362
41,245
+3,477
174,523
621,253
30,964
107.4
5.3
Â
______________________________
______________________________
China
81,439
None
3,300
None
75,448
2,691
742
57
2
Jan 10
______________________________
USA
163,788
+20,297
3,141
+558
5,506
155,141
3,512
495
9
Jan 20
______________________________
Italy
101,739
+4,050
11,591
+812
14,620
75,528
3,981
1,683
192
Jan 29
______________________________
Spain
87,956
+7,846
7,716
+913
16,780
63,460
5,231
1,881
165
Jan 30
______________________________
Germany
66,885
+4,450
645
+104
13,500
52,740
1,979
798
8
Jan 26
______________________________
France
44,550
+4,376
3,024
+418
7,927
33,599
5,056
683
46
Jan 23
______________________________
Iran
41,495
+3,186
2,757
+117
13,911
24,827
3,511
494
33
Feb 18
______________________________
UK
22,141
+2,619
1,408
+180
135
20,598
163
326
21
Jan 30
______________________________
Switzerland
15,922
+1,093
359
+59
1,823
13,740
301
1,840
41
Feb 24
______________________________
Belgium
11,899
+1,063
513
+82
1,527
9,859
927
1,027
44
Feb 03
______________________________
Netherlands
11,750
+884
864
+93
250
10,636
1,053
686
50
Feb 26
______________________________
Turkey
10,827
+1,610
168
+37
162
10,497
568
128
2
Mar 09
______________________________
S. Korea
9,661
+78
158
+6
5,228
4,275
59
188
3
Jan 19
______________________________
Austria
9,618
+830
108
+22
636
8,874
193
1,068
12
Feb 24
______________________________
Canada
7,448
+1,128
89
+24
1,093
6,266
120
197
2
Jan 24
______________________________
Portugal
6,408
+446
140
+21
43
6,225
164
628
14
Mar 01
______________________________
Israel
4,695
+448
16
+1
161
4,518
79
542
2
Feb 20
______________________________
Brazil
4,630
+374
163
+27
120
4,347
296
22
0.8
Feb 24
______________________________
Australia
4,460
+297
19
+2
244
4,197
28
175
0.7
Jan 24
______________________________
Norway
4,445
+161
32
+6
12
4,401
97
820
6
Feb 25
______________________________
Sweden
4,028
+328
146
+36
16
3,866
306
399
14
Jan 30
______________________________
Czechia
3,001
+184
23
+7
25
2,953
52
280
2
Feb 29
______________________________
Ireland
2,910
+295
54
+8
5
2,851
84
589
11
Feb 28
______________________________
Malaysia
2,626
+156
37
+2
479
2,110
94
81
1
Jan 24
______________________________
Denmark
2,577
+182
77
+5
1
2,499
137
445
13
Feb 26
______________________________
Chile
2,449
+310
8
+1
156
2,285
14
128
0.4
Mar 02
______________________________
Romania
2,109
+294
65
+22
209
1,835
33
110
3
Feb 25
______________________________
Poland
2,055
+193
31
+9
7
2,017
3
54
0.8
Mar 03
______________________________
Luxembourg
1,988
+38
22
+1
40
1,926
25
3,176
35
Feb 28
______________________________
Ecuador
1,966
+42
62
+4
3
1,901
58
111
4
Feb 28
______________________________
Japan
1,953
+87
56
+2
424
1,473
56
15
0.4
Jan 14
______________________________
Russia
1,836
+302
9
+1
66
1,761
8
13
0.06
Jan 30
______________________________
Pakistan
1,717
+120
21
+7
76
1,620
11
8
0.10
Feb 25
______________________________
Philippines
1,546
+128
78
+7
42
1,426
1
14
0.7
Jan 29
______________________________
Thailand
1,524
+136
9
+2
229
1,286
11
22
0.1
Jan 12
______________________________
Saudi Arabia
1,453
+154
8
None
115
1,330
12
42
0.2
Mar 01
______________________________
Indonesia
1,414
+129
122
+8
75
1,217
None
5
0.4
Mar 01
______________________________
Finland
1,352
+112
13
+2
10
1,329
49
244
2
Jan 28
______________________________
South Africa
1,326
+46
3
+1
31
1,292
7
22
0.05
Mar 04
______________________________
India
1,251
+227
32
+5
102
1,117
None
0.9
0.02
Jan 29
______________________________
Greece
1,212
+56
46
+7
52
1,114
72
116
4
Feb 25
______________________________
Iceland
1,086
+66
2
None
157
927
25
3,182
6
Feb 27
______________________________
Panama
1,075
+86
27
+3
9
1,039
43
249
6
Mar 09
______________________________
Mexico
993
+145
20
+4
35
938
1
8
0.2
Feb 27
______________________________
Peru
950
+98
24
+6
53
873
49
29
0.7
Mar 05
______________________________
Dominican Republic
901
+42
42
+3
4
855
None
83
4
Feb 29
______________________________
Singapore
879
+35
3
None
228
648
19
150
0.5
Jan 22
______________________________
Argentina
820
None
23
+3
228
569
None
18
0.5
Mar 02
______________________________
Colombia
798
+96
14
+4
15
769
29
16
0.3
Mar 05
______________________________
Croatia
790
+77
6
None
67
717
27
192
1
Feb 24
______________________________
Serbia
785
+44
16
+3
42
727
62
90
2
Mar 05
______________________________
Slovenia
756
+26
11
None
10
735
28
364
5
Mar 03
______________________________
Estonia
715
+36
3
None
20
692
10
539
2
Feb 26
______________________________
Diamond Princess
712
None
10
None
603
99
15
None
None
Feb 04
______________________________
Qatar
693
+59
1
None
51
641
6
241
0.3
Feb 28
______________________________
Hong Kong
683
+41
4
None
118
561
5
91
0.5
Jan 22
______________________________
Egypt
656
+47
41
+1
150
465
None
6
0.4
Feb 13
______________________________
Iraq
630
+83
46
+4
152
432
None
16
1
Feb 21
______________________________
UAE
611
+41
5
+2
61
545
2
62
0.5
Jan 28
______________________________
New Zealand
589
+75
1
None
63
525
2
122
0.2
Feb 27
______________________________
Algeria
584
+73
35
+4
37
512
None
13
0.8
Feb 24
______________________________
Morocco
556
+77
33
+7
15
508
1
15
0.9
Mar 01
______________________________
Ukraine
548
+73
13
+3
8
527
None
13
0.3
Mar 02
______________________________
Bahrain
515
+16
4
None
295

216
2
303
2
Feb 23
______________________________
Lithuania
491
+31
7
None
7
477
5
180
3
Feb 27
______________________________
Armenia
482
+58
3
None
30
449
15
163
1
Feb 29
______________________________
Hungary
447
+39
15
+2
34
398
6
46
2
Mar 03
______________________________
Lebanon
446
+8
11
+1
35
400
3
65
2
Feb 20
______________________________
Latvia
376
+29

None
1
375
3
199
None
Mar 01
______________________________
Andorra
370
+36
8
+2
10
352
10
4,789
104
Mar 01
______________________________
Bosnia and Herzegovina
368
+45
10
+4
17
341
1
112
3
Mar 04
______________________________
Tunisia
362
+50
9
+1
3
350
10
31
0.8
Mar 01
______________________________
Bulgaria
359
+13
8
None
17
334
13
52
1
Mar 06
______________________________
Slovakia
336
+22

None
7
329
1
62
None
Mar 05
______________________________
Costa Rica
330
+16
2
None
4
324
7
65
0.4
Mar 04
______________________________
Uruguay
320
+16
1
None
25
294
9
92
0.3
Mar 12
______________________________
Taiwan
306
+8
5
+2
39
262
None
13
0.2
Jan 20
______________________________
Kazakhstan
302
+18
1
None
21
280
None
16
0.05
Mar 12
______________________________
Moldova
298
+35
2
None
15
281
44
74
0.5
Mar 06
______________________________
North Macedonia
285
+26
7
+1
12
266
1
137
3
Feb 25
______________________________
Azerbaijan
273
+64
4
None
26
243
23
27
0.4
Feb 27
______________________________
Jordan
268
+9
5
+2
26
237
3
26
0.5
Mar 01
______________________________
Kuwait
266
+11

None
72
194
13
62
None
Feb 23
______________________________
Burkina Faso
246
+24
12
None
31
203
None
12
0.6
Mar 08
______________________________
San Marino
230
+6
25
+3
13
192
16
6,778
737
Feb 26
______________________________
Cyprus
230
+16
7
+1
22
201
3
190
6
Mar 08
______________________________
RÃ©union
224
+41

None
1
223
None
250
None
Mar 10
______________________________
Albania
223
+11
11
+1
44
168
7
77
4
Mar 07
______________________________
Vietnam
204
+10

None
55
149
3
2
None
Jan 22
______________________________
Oman
179
+12

None
29
150
3
35
None
Feb 23
______________________________
Afghanistan
170
+50
4
None
2
164
None
4
0.1
Feb 23
______________________________
Cuba
170
+31
4
+1
4
162
2
15
0.4
Mar 10
______________________________
Ivory Coast
168
+3
1
None
6
161
None
6
0.04
Mar 10
______________________________
Faeroe Islands
168
+9

None
70
98
1
3,438
None
Mar 03
______________________________
Senegal
162
+20

None
27
135
None
10
None
Mar 01
______________________________
Malta
156
+5

None
2
154
4
353
None
Mar 06
______________________________
Ghana
152
None
5
None
2
145
1
5
0.2
Mar 11
______________________________
Belarus
152
+58

None
32
120
2
16
None
Feb 27
______________________________
Uzbekistan
149
+5
2
None
7
140
8
4
0.06
Mar 14
______________________________
Channel Islands
141
+33
2
None
None
139
None
811
12
Mar 08
______________________________
Honduras
139
+29
7
+4
3
129
4
14
0.7
Mar 10
______________________________
Cameroon
139
None
6
None
5
128
None
5
0.2
Mar 05
______________________________
Venezuela
135
+16
3
None
39
93
6
5
0.1
Mar 12
______________________________
Nigeria
131
+20
2
+1
8
121
None
0.6
0.01
Feb 27
______________________________
Mauritius
128
+21
3
None
None
125
1
101
2
Mar 17
______________________________
Brunei
127
+1
1
None
38
88
3
290
2
Mar 08
______________________________
Sri Lanka
122
+5
2
+1
15
105
5
6
0.09
Jan 26
______________________________
Palestine
117
+8
1
None
18
98
None
23
0.2
Mar 04
______________________________
Cambodia
107
+4

None
21
86
1
6
None
Jan 26
______________________________
Guadeloupe
106
None
4
None
17
85
10
265
10
Mar 12
______________________________
Georgia
103
+12

None
20
83
6
26
None
Feb 25
______________________________
Bolivia
97
+16
4
+3
None
93
3
8
0.3
Mar 09
______________________________
Kyrgyzstan
94
+10

None
3
91
None
14
None
Mar 17
______________________________
Martinique
93
None
1
None
None
92
12
248
3
Mar 04
______________________________
Montenegro
91
+6
1
None
None
90
1
145
2
Mar 16
______________________________
Trinidad and Tobago
83
+5
3
None
1
79
None
59
2
Mar 11
______________________________
Mayotte
82
+19

None
10
72
3
301
None
Mar 13
______________________________
DRC
81
None
8
None
2
71
None
0.9
0.09
Mar 09
______________________________
Rwanda
70
None

None
None
70
None
5
None
Mar 13
______________________________
Gibraltar
69
+4

None
34
35
None
2,048
None
Mar 02
______________________________
Paraguay
64
+5
3
None
1
60
3
9
0.4
Mar 06
______________________________
Liechtenstein
62
+6

None
None
62
None
1,626
None
Mar 02
______________________________
Kenya
50
+8
1
None
1
48
2
0.9
0.02
Mar 12
______________________________
Aruba
50
None

None
1
49
None
468
None
Mar 12
______________________________
Bangladesh
49
+1
5
None
19
25
1
0.3
0.03
Mar 07
______________________________
Monaco
49
+3
1
None
1
47
None
1,249
25
Feb 27
______________________________
Isle of Man
49
+7

None
None
49
None
576
None
Mar 18
______________________________
French Guiana
43
None

None
6
37
None
144
None
Mar 06
______________________________
Madagascar
43
+4

None
None
43
None
2
None
Mar 19
______________________________
Macao
38
+1

None
10
28
None
59
None
Jan 21
______________________________
Guatemala
36
+2
1
None
10
25
1
2
0.06
Mar 12
______________________________
Jamaica
36
+4
1
None
2
33
None
12
0.3
Mar 09
______________________________
French Polynesia
36
+6

None
None
36
2
128
None
Mar 10
______________________________
Zambia
35
+6

None
None
35
None
2
None
Mar 17
______________________________
Barbados
33
None

None
None
33
None
115
None
Mar 16
______________________________
Uganda
33
None

None
None
33
None
0.7
None
Mar 20
______________________________
Togo
30
+5
1
None
1
28
None
4
0.1
Mar 05
______________________________
El Salvador
30
+6

None
None
30
5
5
None
Mar 18
______________________________
Niger
27
+9
3
+2
None
24
None
1
0.1
Mar 18
______________________________
Bermuda
27
+5

None
2
25
None
434
None
Mar 17
______________________________
Mali
25
+7
2
+1
None
23
None
1
0.10
Mar 24
______________________________
Ethiopia
23
+2

None
4
19
1
0.2
None
Mar 12
______________________________
Guinea
22
+6

None
None
22
None
2
None
Mar 12
______________________________
Congo
19
None

None
None
19
None
3
None
Mar 14
______________________________
Tanzania
19
+5

None
1
18
None
0.3
None
Mar 15
______________________________
Djibouti
18
None

None
None
18
None
18
None
Mar 17
______________________________
Maldives
17
None

None
13
4
None
31
None
Mar 06
______________________________
Saint Martin
15
+4
1
+1
2
12
None
388
26
Feb 29
______________________________
Eritrea
15
+3

None
None
15
None
4
None
Mar 20
______________________________
Haiti
15
None

None
1
14
None
1
None
Mar 19
______________________________
New Caledonia
15
None

None
None
15
None
53
None
Mar 17
______________________________
Bahamas
14
None

None
1
13
None
36
None
Mar 14
______________________________
Myanmar
14
+4

None
None
14
None
0.3
None
Mar 22
______________________________
Cayman Islands
12
None
1
None
None
11
None
183
15
Mar 12
______________________________
Dominica
12
+1

None
None
12
None
167
None
Mar 21
______________________________
Equatorial Guinea
12
None

None
None
12
None
9
None
Mar 13
______________________________
Mongolia
12
None

None
2
10
None
4
None
Mar 09
______________________________
CuraÃ§ao
11
+3
1
None
2
8
None
67
6
Mar 12
______________________________
Namibia
11
None

None
2
9
None
4
None
Mar 13
______________________________
Syria
10
+1
2
+1
None
8
None
0.6
0.1
Mar 21
______________________________
Greenland
10
None

None
2
8
None
176
None
Mar 15
______________________________
Grenada
9
None

None
None
9
None
80
None
Mar 21
______________________________
Saint Lucia
9
None

None
1
8
None
49
None
Mar 12
______________________________
Eswatini
9
None

None
None
9
None
8
None
Mar 13
______________________________
Guyana
8
None
1
None
None
7
None
10
1
Mar 11
______________________________
Guinea-Bissau
8
+6

None
None
8
None
4
None
Mar 24
______________________________
Laos
8
None

None
None
8
None
1
None
Mar 23
______________________________
Libya
8
None

None
None
8
None
1
None
Mar 23
______________________________
Mozambique
8
None

None
None
8
None
0.3
None
Mar 21
______________________________
Seychelles
8
None

None
None
8
None
81
None
Mar 13
______________________________
Suriname
8
None

None
None
8
None
14
None
Mar 12
______________________________
Angola
7
None
2
None
1
4
None
0.2
0.06
Mar 19
______________________________
Gabon
7
None
1
None
None
6
None
3
0.4
Mar 12
______________________________
Zimbabwe
7
None
1
None
None
6
None
0.5
0.07
Mar 19
______________________________
Antigua and Barbuda
7
None

None
None
7
None
71
None
Mar 12
______________________________
Saint Kitts and Nevis
7
+5

None
None
7
None
132
None
Mar 24
______________________________
Sudan
6
None
2
+1
None
4
None
0.1
0.05
Mar 12
______________________________
Cabo Verde
6
None
1
None
None
5
None
11
2
Mar 19
______________________________
Mauritania
6
+1
1
+1
2
3
None
1
0.2
Mar 12
______________________________
Benin
6
None

None
None
6
None
0.5
None
Mar 15
______________________________
Vatican City
6
None

None
None
6
None
7,491
None
Mar 05
______________________________
St. Barth
6
+1

None
1
5
None
607
None
Feb 29
______________________________
Sint Maarten
6
None

None
None
6
None
140
None
Mar 17
______________________________
Nepal
5
None

None
1
4
None
0.2
None
Jan 23
______________________________
Chad
5
+2

None
None
5
None
0.3
None
Mar 18
______________________________
Fiji
5
None

None
None
5
None
6
None
Mar 18
______________________________
Montserrat
5
None

None
None
5
None
1,002
None
Mar 17
______________________________
Turks and Caicos
5
+1

None
None
5
None
129
None
Mar 22
______________________________
Gambia
4
None
1
None
None
3
None
2
0.4
Mar 16
______________________________
Nicaragua
4
None
1
None
None
3
None
0.6
0.2
Mar 18
______________________________
Bhutan
4
None

None
None
4
None
5
None
Mar 05
______________________________
Belize
3
+1

None
None
3
None
8
None
Mar 22
______________________________
Botswana
3
+3

None
None
3
None
1
None
Mar 29
______________________________
CAR
3
None

None
None
3
None
0.6
None
Mar 14
______________________________
Liberia
3
None

None
None
3
None
0.6
None
Mar 15
______________________________
Somalia
3
None

None
None
3
None
0.2
None
Mar 15
______________________________
MS Zaandam
2
None

None
None
2
None
None
None
Mar 26
______________________________
Anguilla
2
None

None
None
2
None
133
None
Mar 25
______________________________
British Virgin Islands
2
None

None
None
2
None
66
None
Mar 24
______________________________
Papua New Guinea
1
None

None
None
1
None
0.1
None
Mar 19
______________________________
St. Vincent Grenadines
1
None

None
1
0
None
9
None
Mar 10
______________________________
Timor-Leste
1
None

None
None
1
None
0.8
None
Mar 20
______________________________
Total:
784,659
+61,269
37,768
+3,703
164,783
582,108
29,706
100.7
4.8
Â
______________________________

In [17]:
data=[]
dic={}
d=datum[0].find_all("th")
header=[]
#list of headers for easy mapping with the data
for item in d:
    header.append(item.text)
#mapping
for item in datum:
    r=item.find_all("td")
    for head,j in zip(header,r):
        if j.text!="":
            dic[head]=j.text
        else:
            dic[head]=None
#making the list of the dictionary for easy conversion to dataframe
    data.append(dic)
print(data)

[{'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'TotalCases': '784,659', 'NewCases': '+61,269', 'TotalDeaths': '37,768', 'NewDeaths': '+3,703', 'TotalRecovered': '164,783', 'ActiveCases': '582,108', 'Serious,Critical': '29,706', 'Tot\xa0Cases/1M pop': '100.7', 'Deaths/1M pop': '4.8', 'Reported1st case': '\n\xa0\n'}, {'Country,Other': 'Total:', 'Tota

In [11]:
import pandas as pd
df=pd.DataFrame(data)
df

,ActiveCases,"Country,Other",Deaths/1M pop,NewCases,NewDeaths,Reported1st case,"Serious,Critical",TotalCases,TotalDeaths,TotalRecovered,TotÂ Cases/1M pop
0,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
1,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
2,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
3,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
4,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
5,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
6,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
7,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
8,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
9,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
10,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
11,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
12,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
13,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
14,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
15,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
16,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
17,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
18,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
19,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
20,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
21,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
22,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
23,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
24,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
25,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
26,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
27,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
28,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
29,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
...,...,...,...,...,...,...,...,...,...,...,...
380,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
381,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
382,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
383,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
384,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
385,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
386,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
387,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
388,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
389,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
390,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
391,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
392,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
393,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
394,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
395,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
396,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
397,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
398,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
399,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
400,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
401,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
402,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
403,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
404,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
405,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
406,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
407,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
408,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7
409,"582,108",Total:,4.8,"+61,269","+3,703",,"29,706","784,659","37,768","164,783",100.7

In [13]:
df.to_csv("corona_data.csv")